<!-- HEADER -->
<app-hero-header></app-hero-header>

<main class="max-w-4xl mx-auto px-3">
    <section class="mt-10">
        @for (service of services; track service.id) {
            <app-card>
                <app-service-item [service]="service" (serviceToggled)="toggleService($event)"></app-service-item>
            </app-card>
        }
        <div class="text-right mt-6">
            <span class="mr-5 card-header">Preu pressupostat:</span>
            <span class="text-3xl font-extrabold sm:text-4xl">{{ total() }}</span>
            <span class="text-lg font-bold sm:text-xl"> €</span>
        </div>
    </section>
    
    <section class="mt-10">
        <app-card>
            <h3 class="card-header">Solicitar presupuesto</h3>
            <app-budget-form (formSubmited)="saveBudget($event)" ></app-budget-form>
        </app-card>
    </section>

    <hr class="mt-10 text-gray-300 border border-dashed">

    <section class="mt-10">
        <h3 class="card-header">Presupuestos en curso:</h3>
        <div class="flex items-center justify-end gap-5 text-sm font-semibold text-gray-500 mr-4 mb-4">
            <button type="button" class="text-gray-500 transition hover:text-gray-900 hover:cursor-pointer"
                aria-label="Buscar">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                    fill="currentColor">
                    <path
                        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                </svg>
            </button>
            <button type="button" class="transition hover:text-gray-900 hover:cursor-pointer">Fecha</button>
            <button type="button" class="inline-flex items-center gap-1 text-gray-900 hover:cursor-pointer">
                Importe
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
                    fill="currentColor">
                    <path d="M480-360 280-560h400L480-360Z" />
                </svg>
            </button>
            <button type="button" class="transition hover:text-gray-900 hover:cursor-pointer">Nombre</button>
        </div>

        <div class="space-y-4">
             @for (budget of budgets; track budget.id) {
                <app-card>
                    <app-budget-item [budget]="budget"></app-budget-item>
                </app-card>
            }
        </div>
    </section>
</main>