<div class="items-center gap-6 flex-row-reverse flex mb-2" >
    <div class="flex items-center gap-1">
        <button
            class="w-4.5 h-4.5 rounded-full border border-gray-300 flex items-center justify-center text-gray-700 cursor-pointer"
            (click)="changeQuantity(-1)">
            <svg class="w-3 h-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round">
                <path d="M5 12h14" />
            </svg>
        </button>
        <input type="text" value="{{ quantity() }}" min="1" class="w-14 border border-gray-300 rounded-lg p-1.5 text-center font-bold" readonly />
        <button
            class="w-4.5 h-4.5 rounded-full border border-gray-300 flex items-center justify-center text-gray-700 cursor-pointer"
            (click)="changeQuantity(1)">
            <svg class="w-3 h-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round">
                <path d="M12 5v14M5 12h14" />
            </svg>
        </button>
    </div>
    <span class="font-bold">{{ subservice().name }}</span>
    <button class="hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#666666">
            <path
                d="M444-288h72v-240h-72v240Zm61.5-322.29q10.5-10.29 10.5-25.5t-10.29-25.71q-10.29-10.5-25.5-10.5t-25.71 10.29q-10.5 10.29-10.5 25.5t10.29 25.71q10.29 10.5 25.5 10.5t25.71-10.29ZM480.28-96Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z" />
        </svg>
    </button>
</div>